body, html {
    height: 100%;
    margin: 0px;
}
body{
    background-color: white;
}

nav li{
    display: inline;
    margin: 20px
}

nav ul{
    background-color: rgb(9, 9, 9);
    margin: 0;
    list-style-type:none;
    width: 100%;
    padding: 20px;
}

nav{
    display:block;
    color:white;
    font-size: large;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color:orangered;
}

.hero-image{
    background-image: linear-gradient(rgba(49, 48, 48, 0.5),rgba(0, 0, 0, 0.5)),url("../images/imaage.png");
    height:100%;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    position: relative;
}

.hero-text{
    color: white;
    font-size: xx-large;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform:translate(-50%,50%)
}

.flexbox-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexbox-item{
    width: 400px;
    margin: 10px;
    background-color: white;
}

.button{
    background-color: yellow;
    width: 200px;
    height: 50px;
    font-size: large;
}
.flexbox-item-1{
    min-height: 100px;
}
.flexbox-item-2{
    min-height: 100px;
}
.flexbox-item-3{
    min-height: 100px;
}

.flexbox-container1{
    display: flex;
}

footer{
    color: white;
    background-color: black;
    padding: 10px;
}

.contain{
    display:flex;
    justify-content: center;
}

h5, h6{
    font-size:large;
}

.f3{
    font-size: large;
}